.insta-profile-widget {
	width:296px; 
	border:1px solid #000000; 
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4); 
	border-radius:5px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background:#ffffff;
	overflow:hidden;
}

.insta-profile-images {
	position:relative;	
}

.insta-profile-images:before,
.insta-profile-images:after {
    content: " ";
    display: table;
}

.insta-profile-images:after {
    clear: both;
}

.insta-profile-images {
    *zoom: 1;
}


.insta-profile-table {
	display:table;
	width:100%;
	table-layout:fixed;
	border-collapse:collapse;
	margin-top:-1px;
	margin-left:-1px;
	height:100%;
}

.insta-profile-cell {
	display:table-cell;
	width:98px;
	height:75px;
	float:left;
	border:solid black 1px;
	border-left:0px;
	background-size: cover;
	background-position: center;
	background-color:#000000;	
	-webkit-filter: sepia(50%);	
	overflow:hidden;
	position:relative;
}

.insta-profile-cell.first {
	border-right:0px;	
}

.insta-profile-cell:after {
	content:"";
	width:98px;
	height:76px;
	display:block;
	border:1px solid rgba(255,255,255,0.2);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-top:0px;	
	position:absolute;
	z-index:9;
	top:0px;
	left:0px;
}

.insta-profile-cell-image {
	width:98px;
	height:75px;
	background-size: cover;
	background-position: center;
	display:none;
	position:relative;
	z-index:1;
}

.insta-profile-cell-image.load {
	opacity:1;	
}

.insta-profile-details {
	position:relative;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	height:48px;
	border-bottom:1px solid #cecece;
}

.insta-profile-details h1 {
	text-align:center;
	font-size:17px;
	line-height:50px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	margin:0;
	letter-spacing: -0.04em;
	text-shadow: 1px 0px 0px #ffffff;	
}

.insta-profile-icon {
	width:24px;
	height:25px;
	background-image: url(../img/icon.png);
	position:absolute;
	left:12px;
	top:50%;
	margin-top:-11px;
}

.insta-profile-avatar {
	padding:4px;
	background-color:#ffffff;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width:70px;
	height:70px;
	position:absolute;
	left:50%;
	top:-70px;
	margin-left:-39px;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4); 
	z-index:99;
}

.insta-profile-avatar img {
	width:70px;
	height:70px;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.insta-profile-avatar a {
	display:block;	
	position:relative;
}

.insta-profile-avatar a:after {
	content: "";
	width:10px; 
	height:10px;
	background:none;
	z-index:99;
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	width:68px;
	height:68px;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.insta-profile-stat {
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:7px 13px;	
	font-size:10px;
	color:#777777;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;	
	font-weight:400;
	text-align:center;
}

.insta-profile-stat strong {
	display:block;	
	font-family:'Roboto', sans-serif;
	color:#111111;
	font-size:14px;
	font-weight:500;
}

.insta-profile-divider {
	float:left;
	width:1px;
	height:45px;
	background:#ececec;	
}

.insta-profile-btn {
	display:block;
	float:right;
	margin:9px;
	padding:4px 11px;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	border:1px solid #006314;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-family:'Roboto', sans-serif;
	text-shadow:0px 1px 1px rgba(0,0,0,0.4);
	background: rgb(72,199,99);
	background: -moz-linear-gradient(top,  rgba(72,199,99,1) 0%, rgba(54,169,76,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,199,99,1)), color-stop(100%,rgba(54,169,76,1)));
	background: -webkit-linear-gradient(top,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	background: -o-linear-gradient(top,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	background: -ms-linear-gradient(top,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	background: linear-gradient(to bottom,  rgba(72,199,99,1) 0%,rgba(54,169,76,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48c763', endColorstr='#36a94c',GradientType=0 );
	line-height: 17px;
}

.insta-profile-btn:active {
	background:#37aa4d;	
}